<form action="" method="post">
    <div id="payment-form" class="payment clear overhidden">
        <h3>Hvordan ønsker du å betale?</h3>
        <p>Pris <strong>{{ priceNormal|number_format }} kr</strong> for
            <strong>{{ amount }}x {{ ticketType.getName() }}</strong>
            {% if additionalTicketTypes|length > 0 %}
                ,
                {% for additionalTicketType in additionalTicketTypes %}
                    <strong>1x {{ additionalTicketType.getName() }}</strong>
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            {% endif %}
        </p>
        <div class="payment-options table no-colour">
            <div class="payment-option row">
                <div class="payment-radio cell">
                    <input type="radio" checked name="pay_method_bla" id="payment-1" value="stripe" />
                </div>
                <div class="payment-info cell">
                    <label for="payment-1">
                        <div class="name">{{ trans("Betal med kort nå") }}</div>
                        <div class="description">{{ trans("Betal med kort nå og få umiddelbar tilgang til å velge plass for alle billetter.") }}</div>
                    </label>
                </div>
            </div>
            {% if ticketOrderAllowPreorderPayOnArrival %}
                <div class="payment-option row">
                    <div class="payment-radio cell">
                        <input type="radio" name="pay_method_bla" id="payment-2" value="door" />
                    </div>
                    <div class="payment-info cell">
                        <label for="payment-2">
                            <div class="name">{{ trans("Betal i døra senere") }}</div>
                            <div class="description">Med dette valget betaler du når du ankommer arrangementet som støtter følgende betalingsmetoder i døra: kort, kontant</div>
                        </label>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="pull-right submit-button">
            <button type="button" class="btn-grey btn" onclick="window.location = '?module=ticketorder';">Avbryt</button>
            <button type="submit" name="select" value="true" class="btn">{{ trans("Gå videre") }}</button>
        </div>
    </div>
</form>
