<p></p>
<div class="form">
    <form class="normal inline" action="index.php?" method="post">
        <input type="hidden" name="module" value="{{ module }}" />
        <input type="hidden" name="action" value="addticket" />
        <div class="form-group">
            <input type="text" name="query" value="{{ query|e }}" placeholder="{{ trans('Search for user') }}" />
            <input type="submit" value="{{ trans('Search') }}" />
        </div>
    </form>
</div>

{% if searchResult|length > 0 %}
    <form action="index.php?" method="post">
        <input type="hidden" name="module" value="{{ module }}" />
        <input type="hidden" name="action" value="addticket" />
        
        <table class="table ticket-table">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ trans('Username') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for user in searchResult %}
                <tr>
                    <td><input type="checkbox" name="userids" value="{{ user.getUserID() }}" /></td>
                    <td>{{ user.getFullName() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="{{ trans('Add tickets') }}" />
        </div>
    </form>
{% elseif query|length > 2 %}
    <p>No users found</p>
{% endif %}
